<h1>Sweet! All done!</h1>
<p>Congrats! We hoped you enjoyed these few pictures of us enjoying your wonderful hospitality. Next time, let's hang out
*<em>together</em>* eh?</p>
<p>Here's links to all the photos: http://www.flickr.com/photos/dreadpiraterach</p>
<p>..and here's a link to all the photos we both took in Oz, should you be interested:</p>

<p>And links to tickets to come see us:</p>
<p>Back to the <a href="/">Welcome page?</a></p>
