<h1>Sweet! All done!</h1>
<p>Congrats! We hoped you enjoyed these few pictures of us enjoying your wonderful hospitality. Next time, let's hang out
*<em>together</em>* eh?</p>
<div style="text-align:center;">
<img src="http://farm4.static.flickr.com/3468/5718774920_8ed9b4a7e0.jpg" alt="Darling Harbour Hoopla"/>
</div>
<p>Here's a link to all the photos: <a href="http://www.flickr.com/photos/dreadpiraterach">http://www.flickr.com/photos/dreadpiraterach</a></p>
<p>..and here's a link to all the photos we both took in Oz, should you be interested: <a href="http://www.flickr.com/photos/dreadpiraterach/sets/72157626717592106/">Rachel's</a> and <a href="http://www.flickr.com/photos/sarcas/sets/72157626551710429/">James'</a></p>

<p>Feel free to continue to use the website to view the photos, and let us know what you thought :-&gt;</p>
<%= render :partial => 'form'%>
