<header>
<h1><%=h @snapshot.title%></h1>
</header>
<article class="welcome">
<img src="<%= @snapshot.picture_link %>"/>
<p id="whimsy"><%= raw @snapshot.message%></p>
<p>Back to the <a href="/">Welcome page</a>?</p>
</article>
